* {
  margin: 30px;
  
}

header {
  background-color: #3b3a3a;
  width:100%;
  height: 70px
}

header > img {
padding-left: 365px;
float: left;
}

ul li {
  color:white;
  display: inline;
  margin-left: 50px;
  padding: 10px;
 
}

#sectionone {
  width: 960px;
  margin: auto;

}

#sectiontwo {
  margin: auto;
  text-align: center;
  /* margin-top: 30px; */
  

}
#sectiontwo > img {
  text-align: center;
  margin: 13px;
}

#sectionthree {
  
    margin: auto;
    width: 960px;
    height: 500px;
    
  }

  h1 {
    font-size: 35px;
    text-align: center;

  }
  article {
    float: left;
    height: 400px;
    width: 460px;
    float: right;
    padding: 10px;
  
  }

  p {
    overflow: scroll;
    overflow-x: hidden;
    height: 330px;
  }

  footer {
    height:80px;
    width: 100%;
    background-color: #3b3a3a;

  }

  .button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #3b3a3a;
    color: white;
  }